[Unit]
Description=ImageShare and pastebin service.

[Service]
User=imgirc
# lets us control who can access unix socket + upload dir.
Group=nginx
# creates /etc/imageshare-rs
# put config.json there.
ConfigurationDirectory=imageshare-rs
# nothing secret in config.
ConfigurationDirectoryMode=0755
# creates /var/lib/imageshare-rs
# this is the default that imageshare-rs will use.
# no "dir": "path" needed!
StateDirectory=imageshare-rs
# nothing secret stored by the application.
StateDirectoryMode=0755
# creates /run/imageshare-rs so you can use rt-dir:your.sock
RuntimeDirectory=imageshare-rs
# only the user and nginx need to access this.
RuntimeDirectoryMode=0750
ExecStart=/usr/local/bin/imageshare-rs
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
